trunk/Ncuhome.Blog/Core/Web References/MailServices/MailServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receivers" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hasFile" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sender" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteMailResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMail_Attibute_IsNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateMail_Attibute_IsNew" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Attri_ID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMail_Attibute_IsNewResponse">
        <s:complexType />
      </s:element>
      <s:element name="getnewmailcount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TXZID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getnewmailcountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getnewmailcountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectMailID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Mail_sender" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectMailIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SelectMailIDResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoMail_Attibutesend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Attri_MailID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Mail_Receivers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mail_Receivers_Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoMail_AttibutesendResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mailid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteMailResponse">
        <s:complexType />
      </s:element>
      <s:element name="getSendBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TXZID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSendBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSendBoxResult" type="tns:ArrayOfSendeBox" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSendeBox">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SendeBox" nillable="true" type="tns:SendeBox" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SendeBox">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReceiverID" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Sender" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="MailAttri_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="getInbox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TXZID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInboxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInboxResult" type="tns:ArrayOfInBox" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInBox">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InBox" nillable="true" type="tns:InBox" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InBox">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MailAttri_ID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Sender" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNew" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="WriteMailSoapIn">
    <wsdl:part name="parameters" element="tns:WriteMail" />
  </wsdl:message>
  <wsdl:message name="WriteMailSoapOut">
    <wsdl:part name="parameters" element="tns:WriteMailResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMail_Attibute_IsNewSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMail_Attibute_IsNew" />
  </wsdl:message>
  <wsdl:message name="UpdateMail_Attibute_IsNewSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMail_Attibute_IsNewResponse" />
  </wsdl:message>
  <wsdl:message name="getnewmailcountSoapIn">
    <wsdl:part name="parameters" element="tns:getnewmailcount" />
  </wsdl:message>
  <wsdl:message name="getnewmailcountSoapOut">
    <wsdl:part name="parameters" element="tns:getnewmailcountResponse" />
  </wsdl:message>
  <wsdl:message name="SelectMailIDSoapIn">
    <wsdl:part name="parameters" element="tns:SelectMailID" />
  </wsdl:message>
  <wsdl:message name="SelectMailIDSoapOut">
    <wsdl:part name="parameters" element="tns:SelectMailIDResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIntoMail_AttibutesendSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIntoMail_Attibutesend" />
  </wsdl:message>
  <wsdl:message name="InsertIntoMail_AttibutesendSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIntoMail_AttibutesendResponse" />
  </wsdl:message>
  <wsdl:message name="deleteMailSoapIn">
    <wsdl:part name="parameters" element="tns:deleteMail" />
  </wsdl:message>
  <wsdl:message name="deleteMailSoapOut">
    <wsdl:part name="parameters" element="tns:deleteMailResponse" />
  </wsdl:message>
  <wsdl:message name="getSendBoxSoapIn">
    <wsdl:part name="parameters" element="tns:getSendBox" />
  </wsdl:message>
  <wsdl:message name="getSendBoxSoapOut">
    <wsdl:part name="parameters" element="tns:getSendBoxResponse" />
  </wsdl:message>
  <wsdl:message name="getInboxSoapIn">
    <wsdl:part name="parameters" element="tns:getInbox" />
  </wsdl:message>
  <wsdl:message name="getInboxSoapOut">
    <wsdl:part name="parameters" element="tns:getInboxResponse" />
  </wsdl:message>
  <wsdl:portType name="MailServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteMail">
      <wsdl:input message="tns:WriteMailSoapIn" />
      <wsdl:output message="tns:WriteMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMail_Attibute_IsNew">
      <wsdl:input message="tns:UpdateMail_Attibute_IsNewSoapIn" />
      <wsdl:output message="tns:UpdateMail_Attibute_IsNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getnewmailcount">
      <wsdl:input message="tns:getnewmailcountSoapIn" />
      <wsdl:output message="tns:getnewmailcountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectMailID">
      <wsdl:input message="tns:SelectMailIDSoapIn" />
      <wsdl:output message="tns:SelectMailIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoMail_Attibutesend">
      <wsdl:input message="tns:InsertIntoMail_AttibutesendSoapIn" />
      <wsdl:output message="tns:InsertIntoMail_AttibutesendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteMail">
      <wsdl:input message="tns:deleteMailSoapIn" />
      <wsdl:output message="tns:deleteMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSendBox">
      <wsdl:input message="tns:getSendBoxSoapIn" />
      <wsdl:output message="tns:getSendBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInbox">
      <wsdl:input message="tns:getInboxSoapIn" />
      <wsdl:output message="tns:getInboxSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailServicesSoap" type="tns:MailServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteMail">
      <soap:operation soapAction="http://tempuri.org/WriteMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMail_Attibute_IsNew">
      <soap:operation soapAction="http://tempuri.org/UpdateMail_Attibute_IsNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getnewmailcount">
      <soap:operation soapAction="http://tempuri.org/getnewmailcount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMailID">
      <soap:operation soapAction="http://tempuri.org/SelectMailID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoMail_Attibutesend">
      <soap:operation soapAction="http://tempuri.org/InsertIntoMail_Attibutesend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMail">
      <soap:operation soapAction="http://tempuri.org/deleteMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSendBox">
      <soap:operation soapAction="http://tempuri.org/getSendBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInbox">
      <soap:operation soapAction="http://tempuri.org/getInbox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailServicesSoap12" type="tns:MailServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteMail">
      <soap12:operation soapAction="http://tempuri.org/WriteMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMail_Attibute_IsNew">
      <soap12:operation soapAction="http://tempuri.org/UpdateMail_Attibute_IsNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getnewmailcount">
      <soap12:operation soapAction="http://tempuri.org/getnewmailcount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMailID">
      <soap12:operation soapAction="http://tempuri.org/SelectMailID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoMail_Attibutesend">
      <soap12:operation soapAction="http://tempuri.org/InsertIntoMail_Attibutesend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMail">
      <soap12:operation soapAction="http://tempuri.org/deleteMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSendBox">
      <soap12:operation soapAction="http://tempuri.org/getSendBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInbox">
      <soap12:operation soapAction="http://tempuri.org/getInbox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailServices">
    <wsdl:port name="MailServicesSoap" binding="tns:MailServicesSoap">
      <soap:address location="http://218.64.56.9:8995/MailServices.asmx" />
    </wsdl:port>
    <wsdl:port name="MailServicesSoap12" binding="tns:MailServicesSoap12">
      <soap12:address location="http://218.64.56.9:8995/MailServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>