trunk/Ncuhome.Blog/Core/Web References/ActiveServices/ActiveServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckSame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MFiid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AFiid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFunctionById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="funcId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFunctionByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFunctionByIdResult" type="tns:Func" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Func">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FuncID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FuncName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetParentFiIDByFiid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fiid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParentFiIDByFiidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetParentFiIDByFiidResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFunctionByFiId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fiId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFunctionByFiIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFunctionByFiIdResult" type="tns:Func" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActiveFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="funcid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="managerid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ChildFuncid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActiveFunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActiveFunctionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActiveFunctionWithChildFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="funcid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="managerid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ChildFuncid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActiveFunctionWithChildFunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActiveFunctionWithChildFunctionResult" type="tns:ActiveReturnValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActiveReturnValue">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FIId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChildFiList" type="tns:ArrayOfCommon_FuncImplement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCommon_FuncImplement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Common_FuncImplement" nillable="true" type="tns:Common_FuncImplement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Common_FuncImplement">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FI_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FI_FuncID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FI_OwnerID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FI_MODID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FI_ISROOT" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FI_PARENTID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getNotActiveFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TXZID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNotActiveFunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNotActiveFunctionResult" type="tns:ArrayOfFunc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFunc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Func" nillable="true" type="tns:Func" />
        </s:sequence>
      </s:complexType>
      <s:element name="getActiveFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TXZID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActiveFunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getActiveFunctionResult" type="tns:ArrayOfFunc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManagerIDByFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManagerIDByFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManagerIDByFIIDResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEncryptFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FIID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEncryptFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEncryptFIIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDecryptFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FIID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDecryptFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDecryptFIIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOwnerIDByFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOwnerIDByFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetOwnerIDByFIIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModIdByFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModIdByFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetModIdByFIIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModNameByModId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="moiId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModNameByModIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModNameByModIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckSameSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSame" />
  </wsdl:message>
  <wsdl:message name="CheckSameSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSameResponse" />
  </wsdl:message>
  <wsdl:message name="GetFunctionByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFunctionById" />
  </wsdl:message>
  <wsdl:message name="GetFunctionByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFunctionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetParentFiIDByFiidSoapIn">
    <wsdl:part name="parameters" element="tns:GetParentFiIDByFiid" />
  </wsdl:message>
  <wsdl:message name="GetParentFiIDByFiidSoapOut">
    <wsdl:part name="parameters" element="tns:GetParentFiIDByFiidResponse" />
  </wsdl:message>
  <wsdl:message name="GetFunctionByFiIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFunctionByFiId" />
  </wsdl:message>
  <wsdl:message name="GetFunctionByFiIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFunctionByFiIdResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ActiveFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:ActiveFunction" />
  </wsdl:message>
  <wsdl:message name="ActiveFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:ActiveFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="ActiveFunctionWithChildFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:ActiveFunctionWithChildFunction" />
  </wsdl:message>
  <wsdl:message name="ActiveFunctionWithChildFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:ActiveFunctionWithChildFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="getNotActiveFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:getNotActiveFunction" />
  </wsdl:message>
  <wsdl:message name="getNotActiveFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:getNotActiveFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="getActiveFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:getActiveFunction" />
  </wsdl:message>
  <wsdl:message name="getActiveFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:getActiveFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="GetManagerIDByFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetManagerIDByFIID" />
  </wsdl:message>
  <wsdl:message name="GetManagerIDByFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetManagerIDByFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetEncryptFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEncryptFIID" />
  </wsdl:message>
  <wsdl:message name="GetEncryptFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEncryptFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetDecryptFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDecryptFIID" />
  </wsdl:message>
  <wsdl:message name="GetDecryptFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDecryptFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetOwnerIDByFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetOwnerIDByFIID" />
  </wsdl:message>
  <wsdl:message name="GetOwnerIDByFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetOwnerIDByFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetModIdByFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetModIdByFIID" />
  </wsdl:message>
  <wsdl:message name="GetModIdByFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetModIdByFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetModNameByModIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetModNameByModId" />
  </wsdl:message>
  <wsdl:message name="GetModNameByModIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetModNameByModIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ActiveServicesSoap">
    <wsdl:operation name="CheckSame">
      <wsdl:input message="tns:CheckSameSoapIn" />
      <wsdl:output message="tns:CheckSameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFunctionById">
      <wsdl:input message="tns:GetFunctionByIdSoapIn" />
      <wsdl:output message="tns:GetFunctionByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetParentFiIDByFiid">
      <wsdl:input message="tns:GetParentFiIDByFiidSoapIn" />
      <wsdl:output message="tns:GetParentFiIDByFiidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFunctionByFiId">
      <wsdl:input message="tns:GetFunctionByFiIdSoapIn" />
      <wsdl:output message="tns:GetFunctionByFiIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActiveFunction">
      <wsdl:input message="tns:ActiveFunctionSoapIn" />
      <wsdl:output message="tns:ActiveFunctionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActiveFunctionWithChildFunction">
      <wsdl:input message="tns:ActiveFunctionWithChildFunctionSoapIn" />
      <wsdl:output message="tns:ActiveFunctionWithChildFunctionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNotActiveFunction">
      <wsdl:input message="tns:getNotActiveFunctionSoapIn" />
      <wsdl:output message="tns:getNotActiveFunctionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getActiveFunction">
      <wsdl:input message="tns:getActiveFunctionSoapIn" />
      <wsdl:output message="tns:getActiveFunctionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManagerIDByFIID">
      <wsdl:input message="tns:GetManagerIDByFIIDSoapIn" />
      <wsdl:output message="tns:GetManagerIDByFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEncryptFIID">
      <wsdl:input message="tns:GetEncryptFIIDSoapIn" />
      <wsdl:output message="tns:GetEncryptFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDecryptFIID">
      <wsdl:input message="tns:GetDecryptFIIDSoapIn" />
      <wsdl:output message="tns:GetDecryptFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOwnerIDByFIID">
      <wsdl:input message="tns:GetOwnerIDByFIIDSoapIn" />
      <wsdl:output message="tns:GetOwnerIDByFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModIdByFIID">
      <wsdl:input message="tns:GetModIdByFIIDSoapIn" />
      <wsdl:output message="tns:GetModIdByFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModNameByModId">
      <wsdl:input message="tns:GetModNameByModIdSoapIn" />
      <wsdl:output message="tns:GetModNameByModIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActiveServicesSoap" type="tns:ActiveServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckSame">
      <soap:operation soapAction="http://tempuri.org/CheckSame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunctionById">
      <soap:operation soapAction="http://tempuri.org/GetFunctionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentFiIDByFiid">
      <soap:operation soapAction="http://tempuri.org/GetParentFiIDByFiid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunctionByFiId">
      <soap:operation soapAction="http://tempuri.org/GetFunctionByFiId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveFunction">
      <soap:operation soapAction="http://tempuri.org/ActiveFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveFunctionWithChildFunction">
      <soap:operation soapAction="http://tempuri.org/ActiveFunctionWithChildFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNotActiveFunction">
      <soap:operation soapAction="http://tempuri.org/getNotActiveFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveFunction">
      <soap:operation soapAction="http://tempuri.org/getActiveFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagerIDByFIID">
      <soap:operation soapAction="http://tempuri.org/GetManagerIDByFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncryptFIID">
      <soap:operation soapAction="http://tempuri.org/GetEncryptFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDecryptFIID">
      <soap:operation soapAction="http://tempuri.org/GetDecryptFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOwnerIDByFIID">
      <soap:operation soapAction="http://tempuri.org/GetOwnerIDByFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModIdByFIID">
      <soap:operation soapAction="http://tempuri.org/GetModIdByFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModNameByModId">
      <soap:operation soapAction="http://tempuri.org/GetModNameByModId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActiveServicesSoap12" type="tns:ActiveServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckSame">
      <soap12:operation soapAction="http://tempuri.org/CheckSame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunctionById">
      <soap12:operation soapAction="http://tempuri.org/GetFunctionById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentFiIDByFiid">
      <soap12:operation soapAction="http://tempuri.org/GetParentFiIDByFiid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunctionByFiId">
      <soap12:operation soapAction="http://tempuri.org/GetFunctionByFiId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveFunction">
      <soap12:operation soapAction="http://tempuri.org/ActiveFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveFunctionWithChildFunction">
      <soap12:operation soapAction="http://tempuri.org/ActiveFunctionWithChildFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNotActiveFunction">
      <soap12:operation soapAction="http://tempuri.org/getNotActiveFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveFunction">
      <soap12:operation soapAction="http://tempuri.org/getActiveFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagerIDByFIID">
      <soap12:operation soapAction="http://tempuri.org/GetManagerIDByFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncryptFIID">
      <soap12:operation soapAction="http://tempuri.org/GetEncryptFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDecryptFIID">
      <soap12:operation soapAction="http://tempuri.org/GetDecryptFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOwnerIDByFIID">
      <soap12:operation soapAction="http://tempuri.org/GetOwnerIDByFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModIdByFIID">
      <soap12:operation soapAction="http://tempuri.org/GetModIdByFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModNameByModId">
      <soap12:operation soapAction="http://tempuri.org/GetModNameByModId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActiveServices">
    <wsdl:port name="ActiveServicesSoap" binding="tns:ActiveServicesSoap">
      <soap:address location="http://218.64.56.9:8995/ActiveServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ActiveServicesSoap12" binding="tns:ActiveServicesSoap12">
      <soap12:address location="http://218.64.56.9:8995/ActiveServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>