trunk/Ncuhome.Blog/Core/Web References/WebReference/SummaryVisitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetClickByUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClickByUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClickByUrlResult" type="tns:Common_SummaryVisit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Common_SummaryVisit">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SV_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="SV_Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SV_FIID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SV_FromUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SV_CreateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SV_IP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetClickByFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClickByFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClickByFIIDResult" type="tns:Common_SummaryVisit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClickByIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClickByIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClickByIPResult" type="tns:Common_SummaryVisit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClickByOther">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClickByOtherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClickByOtherResult" type="tns:Common_SummaryVisit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUrlResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UrlExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UrlExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UrlExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUrlByUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUrlByUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUrlByUrlResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUrlByFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUrlByFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUrlByFIIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClickByUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetClickByUrl" />
  </wsdl:message>
  <wsdl:message name="GetClickByUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetClickByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetClickByFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetClickByFIID" />
  </wsdl:message>
  <wsdl:message name="GetClickByFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetClickByFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetClickByIPSoapIn">
    <wsdl:part name="parameters" element="tns:GetClickByIP" />
  </wsdl:message>
  <wsdl:message name="GetClickByIPSoapOut">
    <wsdl:part name="parameters" element="tns:GetClickByIPResponse" />
  </wsdl:message>
  <wsdl:message name="GetClickByOtherSoapIn">
    <wsdl:part name="parameters" element="tns:GetClickByOther" />
  </wsdl:message>
  <wsdl:message name="GetClickByOtherSoapOut">
    <wsdl:part name="parameters" element="tns:GetClickByOtherResponse" />
  </wsdl:message>
  <wsdl:message name="AddUrlSoapIn">
    <wsdl:part name="parameters" element="tns:AddUrl" />
  </wsdl:message>
  <wsdl:message name="AddUrlSoapOut">
    <wsdl:part name="parameters" element="tns:AddUrlResponse" />
  </wsdl:message>
  <wsdl:message name="UrlExistSoapIn">
    <wsdl:part name="parameters" element="tns:UrlExist" />
  </wsdl:message>
  <wsdl:message name="UrlExistSoapOut">
    <wsdl:part name="parameters" element="tns:UrlExistResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUrlByUrlSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUrlByUrl" />
  </wsdl:message>
  <wsdl:message name="DeleteUrlByUrlSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUrlByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUrlByFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUrlByFIID" />
  </wsdl:message>
  <wsdl:message name="DeleteUrlByFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUrlByFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="SummaryVisitServiceSoap">
    <wsdl:operation name="GetClickByUrl">
      <wsdl:input message="tns:GetClickByUrlSoapIn" />
      <wsdl:output message="tns:GetClickByUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClickByFIID">
      <wsdl:input message="tns:GetClickByFIIDSoapIn" />
      <wsdl:output message="tns:GetClickByFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClickByIP">
      <wsdl:input message="tns:GetClickByIPSoapIn" />
      <wsdl:output message="tns:GetClickByIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClickByOther">
      <wsdl:input message="tns:GetClickByOtherSoapIn" />
      <wsdl:output message="tns:GetClickByOtherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUrl">
      <wsdl:input message="tns:AddUrlSoapIn" />
      <wsdl:output message="tns:AddUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UrlExist">
      <wsdl:input message="tns:UrlExistSoapIn" />
      <wsdl:output message="tns:UrlExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUrlByUrl">
      <wsdl:input message="tns:DeleteUrlByUrlSoapIn" />
      <wsdl:output message="tns:DeleteUrlByUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUrlByFIID">
      <wsdl:input message="tns:DeleteUrlByFIIDSoapIn" />
      <wsdl:output message="tns:DeleteUrlByFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SummaryVisitServiceSoap" type="tns:SummaryVisitServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClickByUrl">
      <soap:operation soapAction="http://tempuri.org/GetClickByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClickByFIID">
      <soap:operation soapAction="http://tempuri.org/GetClickByFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClickByIP">
      <soap:operation soapAction="http://tempuri.org/GetClickByIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClickByOther">
      <soap:operation soapAction="http://tempuri.org/GetClickByOther" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUrl">
      <soap:operation soapAction="http://tempuri.org/AddUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UrlExist">
      <soap:operation soapAction="http://tempuri.org/UrlExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUrlByUrl">
      <soap:operation soapAction="http://tempuri.org/DeleteUrlByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUrlByFIID">
      <soap:operation soapAction="http://tempuri.org/DeleteUrlByFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SummaryVisitServiceSoap12" type="tns:SummaryVisitServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClickByUrl">
      <soap12:operation soapAction="http://tempuri.org/GetClickByUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClickByFIID">
      <soap12:operation soapAction="http://tempuri.org/GetClickByFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClickByIP">
      <soap12:operation soapAction="http://tempuri.org/GetClickByIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClickByOther">
      <soap12:operation soapAction="http://tempuri.org/GetClickByOther" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUrl">
      <soap12:operation soapAction="http://tempuri.org/AddUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UrlExist">
      <soap12:operation soapAction="http://tempuri.org/UrlExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUrlByUrl">
      <soap12:operation soapAction="http://tempuri.org/DeleteUrlByUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUrlByFIID">
      <soap12:operation soapAction="http://tempuri.org/DeleteUrlByFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SummaryVisitService">
    <wsdl:port name="SummaryVisitServiceSoap" binding="tns:SummaryVisitServiceSoap">
      <soap:address location="http://218.64.56.9:8995/SummaryVisitService.asmx" />
    </wsdl:port>
    <wsdl:port name="SummaryVisitServiceSoap12" binding="tns:SummaryVisitServiceSoap12">
      <soap12:address location="http://218.64.56.9:8995/SummaryVisitService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>