trunk/Controls/Web References/uploadservice/upload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xml.sz.luohuedu.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://xml.sz.luohuedu.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">在Web Services里利用.NET框架进上载文件。</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xml.sz.luohuedu.net/">
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fs" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileDirectory" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileWithSmallAndMid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fs" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="File" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="thumWidth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="thumHeight" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="midWidth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="midHeight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileWithSmallAndMidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileWithSmallAndMidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileWithSmall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fs" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="File" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileWithSmallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileWithSmallResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileOnlyFull">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fs" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="File" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileOnlyFullResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileOnlyFullResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadAllFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fs" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="FileDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadAllFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadAllFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListFileResult" type="tns:ArrayOfNcuFileInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNcuFileInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NcuFileInfo" nillable="true" type="tns:NcuFileInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NcuFileInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileFullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFileSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileSizeResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckDirectory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckDirectoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckDirectoryResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileWithSmallAndMidSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileWithSmallAndMid" />
  </wsdl:message>
  <wsdl:message name="UploadFileWithSmallAndMidSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileWithSmallAndMidResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileWithSmallSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileWithSmall" />
  </wsdl:message>
  <wsdl:message name="UploadFileWithSmallSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileWithSmallResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileOnlyFullSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileOnlyFull" />
  </wsdl:message>
  <wsdl:message name="UploadFileOnlyFullSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileOnlyFullResponse" />
  </wsdl:message>
  <wsdl:message name="UploadAllFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadAllFile" />
  </wsdl:message>
  <wsdl:message name="UploadAllFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadAllFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="ListFileSoapIn">
    <wsdl:part name="parameters" element="tns:ListFile" />
  </wsdl:message>
  <wsdl:message name="ListFileSoapOut">
    <wsdl:part name="parameters" element="tns:ListFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileSize" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileSizeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckFileSoapIn">
    <wsdl:part name="parameters" element="tns:CheckFile" />
  </wsdl:message>
  <wsdl:message name="CheckFileSoapOut">
    <wsdl:part name="parameters" element="tns:CheckFileResponse" />
  </wsdl:message>
  <wsdl:message name="CheckDirectorySoapIn">
    <wsdl:part name="parameters" element="tns:CheckDirectory" />
  </wsdl:message>
  <wsdl:message name="CheckDirectorySoapOut">
    <wsdl:part name="parameters" element="tns:CheckDirectoryResponse" />
  </wsdl:message>
  <wsdl:portType name="UploadSoap">
    <wsdl:operation name="UploadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web 服务提供的方法，返回是否文件上载成功与否。生成默认大小的缩略图(100*100)和中图(400*400)</wsdl:documentation>
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileWithSmallAndMid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web 服务提供的方法，返回是否文件上载成功与否。需要指定中图和缩略图的高和宽</wsdl:documentation>
      <wsdl:input message="tns:UploadFileWithSmallAndMidSoapIn" />
      <wsdl:output message="tns:UploadFileWithSmallAndMidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileWithSmall">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web 服务提供的方法，返回是否文件上载成功与否。只生成缩略图</wsdl:documentation>
      <wsdl:input message="tns:UploadFileWithSmallSoapIn" />
      <wsdl:output message="tns:UploadFileWithSmallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileOnlyFull">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web 服务提供的方法，返回是否文件上载成功与否。</wsdl:documentation>
      <wsdl:input message="tns:UploadFileOnlyFullSoapIn" />
      <wsdl:output message="tns:UploadFileOnlyFullSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadAllFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web 服务提供的方法，返回是否文件上载成功与否。</wsdl:documentation>
      <wsdl:input message="tns:UploadAllFileSoapIn" />
      <wsdl:output message="tns:UploadAllFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除文件</wsdl:documentation>
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">列出文件</wsdl:documentation>
      <wsdl:input message="tns:ListFileSoapIn" />
      <wsdl:output message="tns:ListFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检测文件夹大小</wsdl:documentation>
      <wsdl:input message="tns:GetFileSizeSoapIn" />
      <wsdl:output message="tns:GetFileSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查文件是否存在</wsdl:documentation>
      <wsdl:input message="tns:CheckFileSoapIn" />
      <wsdl:output message="tns:CheckFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckDirectory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查文件夹是否存在</wsdl:documentation>
      <wsdl:input message="tns:CheckDirectorySoapIn" />
      <wsdl:output message="tns:CheckDirectorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadSoap" type="tns:UploadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileWithSmallAndMid">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/UploadFileWithSmallAndMid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileWithSmall">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/UploadFileWithSmall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileOnlyFull">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/UploadFileOnlyFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAllFile">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/UploadAllFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFile">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/ListFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/GetFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFile">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/CheckFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDirectory">
      <soap:operation soapAction="http://xml.sz.luohuedu.net/CheckDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadSoap12" type="tns:UploadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileWithSmallAndMid">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/UploadFileWithSmallAndMid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileWithSmall">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/UploadFileWithSmall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileOnlyFull">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/UploadFileOnlyFull" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAllFile">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/UploadAllFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFile">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/ListFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/GetFileSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFile">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/CheckFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDirectory">
      <soap12:operation soapAction="http://xml.sz.luohuedu.net/CheckDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Upload">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">在Web Services里利用.NET框架进上载文件。</wsdl:documentation>
    <wsdl:port name="UploadSoap" binding="tns:UploadSoap">
      <soap:address location="http://resource.ncuhome.cn/upload.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadSoap12" binding="tns:UploadSoap12">
      <soap12:address location="http://resource.ncuhome.cn/upload.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>