Core/Web References/FuncCommonReference/FuncCommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManageridByFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Fiid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManageridByFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManageridByFIIDResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFiidByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OwnerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="funcid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFiidByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFiidByUserIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllUserProfiles">
        <s:complexType />
      </s:element>
      <s:element name="getAllUserProfilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllUserProfilesResult" type="tns:ArrayOfUserProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserProfile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserProfile" nillable="true" type="tns:UserProfile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserProfile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TXZID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ThemeId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getUserProfilebyUserTxzID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TxzID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserProfilebyUserTxzIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserProfilebyUserTxzIDResult" type="tns:UserProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="up" type="tns:UserProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserProfileResponse">
        <s:complexType />
      </s:element>
      <s:element name="getXSJBXXByXh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getXSJBXXByXhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getXSJBXXByXhResult" type="tns:XSJBXX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="XSJBXX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="XH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BJMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RXNY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QSH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZYMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XYMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SFZH" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetNumberByTxzID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberByTxzIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNumberByTxzIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxzIDByNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxzIDByNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTxzIDByNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxzIDByTxz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txz" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTxzIDByTxzResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTxzIDByTxzResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUIDByTxzid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="txzid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUIDByTxzidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUIDByTxzidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GettruenameIDByTxzid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GettruenameIDByTxzidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GettruenameIDByTxzidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBJJBXXByBh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBJJBXXByBhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBJJBXXByBhResult" type="tns:BJJBXX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BJJBXX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BJMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZYMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XYMC" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetManageridByFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetManageridByFIID" />
  </wsdl:message>
  <wsdl:message name="GetManageridByFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetManageridByFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetFiidByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFiidByUserId" />
  </wsdl:message>
  <wsdl:message name="GetFiidByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFiidByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllUserProfilesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllUserProfiles" />
  </wsdl:message>
  <wsdl:message name="getAllUserProfilesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllUserProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="getUserProfilebyUserTxzIDSoapIn">
    <wsdl:part name="parameters" element="tns:getUserProfilebyUserTxzID" />
  </wsdl:message>
  <wsdl:message name="getUserProfilebyUserTxzIDSoapOut">
    <wsdl:part name="parameters" element="tns:getUserProfilebyUserTxzIDResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserProfile" />
  </wsdl:message>
  <wsdl:message name="SetUserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="getXSJBXXByXhSoapIn">
    <wsdl:part name="parameters" element="tns:getXSJBXXByXh" />
  </wsdl:message>
  <wsdl:message name="getXSJBXXByXhSoapOut">
    <wsdl:part name="parameters" element="tns:getXSJBXXByXhResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumberByTxzIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberByTxzID" />
  </wsdl:message>
  <wsdl:message name="GetNumberByTxzIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberByTxzIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetTxzIDByNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetTxzIDByNumber" />
  </wsdl:message>
  <wsdl:message name="GetTxzIDByNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetTxzIDByNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetTxzIDByTxzSoapIn">
    <wsdl:part name="parameters" element="tns:GetTxzIDByTxz" />
  </wsdl:message>
  <wsdl:message name="GetTxzIDByTxzSoapOut">
    <wsdl:part name="parameters" element="tns:GetTxzIDByTxzResponse" />
  </wsdl:message>
  <wsdl:message name="GetUIDByTxzidSoapIn">
    <wsdl:part name="parameters" element="tns:GetUIDByTxzid" />
  </wsdl:message>
  <wsdl:message name="GetUIDByTxzidSoapOut">
    <wsdl:part name="parameters" element="tns:GetUIDByTxzidResponse" />
  </wsdl:message>
  <wsdl:message name="GettruenameIDByTxzidSoapIn">
    <wsdl:part name="parameters" element="tns:GettruenameIDByTxzid" />
  </wsdl:message>
  <wsdl:message name="GettruenameIDByTxzidSoapOut">
    <wsdl:part name="parameters" element="tns:GettruenameIDByTxzidResponse" />
  </wsdl:message>
  <wsdl:message name="getBJJBXXByBhSoapIn">
    <wsdl:part name="parameters" element="tns:getBJJBXXByBh" />
  </wsdl:message>
  <wsdl:message name="getBJJBXXByBhSoapOut">
    <wsdl:part name="parameters" element="tns:getBJJBXXByBhResponse" />
  </wsdl:message>
  <wsdl:portType name="FuncCommonServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManageridByFIID">
      <wsdl:input message="tns:GetManageridByFIIDSoapIn" />
      <wsdl:output message="tns:GetManageridByFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFiidByUserId">
      <wsdl:input message="tns:GetFiidByUserIdSoapIn" />
      <wsdl:output message="tns:GetFiidByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllUserProfiles">
      <wsdl:input message="tns:getAllUserProfilesSoapIn" />
      <wsdl:output message="tns:getAllUserProfilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserProfilebyUserTxzID">
      <wsdl:input message="tns:getUserProfilebyUserTxzIDSoapIn" />
      <wsdl:output message="tns:getUserProfilebyUserTxzIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserProfile">
      <wsdl:input message="tns:SetUserProfileSoapIn" />
      <wsdl:output message="tns:SetUserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getXSJBXXByXh">
      <wsdl:input message="tns:getXSJBXXByXhSoapIn" />
      <wsdl:output message="tns:getXSJBXXByXhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberByTxzID">
      <wsdl:input message="tns:GetNumberByTxzIDSoapIn" />
      <wsdl:output message="tns:GetNumberByTxzIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxzIDByNumber">
      <wsdl:input message="tns:GetTxzIDByNumberSoapIn" />
      <wsdl:output message="tns:GetTxzIDByNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTxzIDByTxz">
      <wsdl:input message="tns:GetTxzIDByTxzSoapIn" />
      <wsdl:output message="tns:GetTxzIDByTxzSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUIDByTxzid">
      <wsdl:input message="tns:GetUIDByTxzidSoapIn" />
      <wsdl:output message="tns:GetUIDByTxzidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GettruenameIDByTxzid">
      <wsdl:input message="tns:GettruenameIDByTxzidSoapIn" />
      <wsdl:output message="tns:GettruenameIDByTxzidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBJJBXXByBh">
      <wsdl:input message="tns:getBJJBXXByBhSoapIn" />
      <wsdl:output message="tns:getBJJBXXByBhSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FuncCommonServiceSoap" type="tns:FuncCommonServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManageridByFIID">
      <soap:operation soapAction="http://tempuri.org/GetManageridByFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiidByUserId">
      <soap:operation soapAction="http://tempuri.org/GetFiidByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUserProfiles">
      <soap:operation soapAction="http://tempuri.org/getAllUserProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserProfilebyUserTxzID">
      <soap:operation soapAction="http://tempuri.org/getUserProfilebyUserTxzID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserProfile">
      <soap:operation soapAction="http://tempuri.org/SetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXSJBXXByXh">
      <soap:operation soapAction="http://tempuri.org/getXSJBXXByXh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberByTxzID">
      <soap:operation soapAction="http://tempuri.org/GetNumberByTxzID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxzIDByNumber">
      <soap:operation soapAction="http://tempuri.org/GetTxzIDByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxzIDByTxz">
      <soap:operation soapAction="http://tempuri.org/GetTxzIDByTxz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUIDByTxzid">
      <soap:operation soapAction="http://tempuri.org/GetUIDByTxzid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GettruenameIDByTxzid">
      <soap:operation soapAction="http://tempuri.org/GettruenameIDByTxzid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBJJBXXByBh">
      <soap:operation soapAction="http://tempuri.org/getBJJBXXByBh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FuncCommonServiceSoap12" type="tns:FuncCommonServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManageridByFIID">
      <soap12:operation soapAction="http://tempuri.org/GetManageridByFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiidByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetFiidByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUserProfiles">
      <soap12:operation soapAction="http://tempuri.org/getAllUserProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserProfilebyUserTxzID">
      <soap12:operation soapAction="http://tempuri.org/getUserProfilebyUserTxzID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserProfile">
      <soap12:operation soapAction="http://tempuri.org/SetUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXSJBXXByXh">
      <soap12:operation soapAction="http://tempuri.org/getXSJBXXByXh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberByTxzID">
      <soap12:operation soapAction="http://tempuri.org/GetNumberByTxzID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxzIDByNumber">
      <soap12:operation soapAction="http://tempuri.org/GetTxzIDByNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTxzIDByTxz">
      <soap12:operation soapAction="http://tempuri.org/GetTxzIDByTxz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUIDByTxzid">
      <soap12:operation soapAction="http://tempuri.org/GetUIDByTxzid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GettruenameIDByTxzid">
      <soap12:operation soapAction="http://tempuri.org/GettruenameIDByTxzid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBJJBXXByBh">
      <soap12:operation soapAction="http://tempuri.org/getBJJBXXByBh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FuncCommonService">
    <wsdl:port name="FuncCommonServiceSoap" binding="tns:FuncCommonServiceSoap">
      <soap:address location="http://218.64.56.9:8995/FuncCommonService.asmx" />
    </wsdl:port>
    <wsdl:port name="FuncCommonServiceSoap12" binding="tns:FuncCommonServiceSoap12">
      <soap12:address location="http://218.64.56.9:8995/FuncCommonService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>