trunk/Core/Web References/GbookReference/Gbookwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddAdmin">
        <s:complexType />
      </s:element>
      <s:element name="AddAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAdminResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TxzID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAdminResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMsgByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MsgID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMsgByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMsgByIDResult" type="tns:Common_Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Common_Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Msg_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Msg_FIID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Msg_CreateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Msg_IsVisible" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Msg_tempBlogUserid" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_UserUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRemotIP">
        <s:complexType />
      </s:element>
      <s:element name="GetRemotIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRemotIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MsgFIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastMsgResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FuncIID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsVisible" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertMsgResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMsgByMsgID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MsgID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMsgByMsgIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMsgByMsgIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMsgByFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MsgFIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMsgByFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMsgByFIIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FI_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasFIIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasMsgID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MsgID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasMsgIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasMsgIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFIID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FunID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FIOwnID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFIIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFIIDResult" type="tns:View_CommonFunction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="View_CommonFunction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Mod_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mod_Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FI_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FI_FuncID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FI_OwnerID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FI_MODID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Func_Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Func_ID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FUNC_ISROOT" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGbook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fiid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FIOwnID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VisitType" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CanWrite" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CanDelete" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="IsPage" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="everyNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGbookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGbookResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGbookPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="everypagenum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGbookPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGbookPageResult" type="tns:ArrayOfGbook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGbook">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Gbook" nillable="true" type="tns:Gbook" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Gbook">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Msg_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Msg_FIID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Msg_CreateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Msg_IsVisible" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Msg_tempBlogUserid" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg_UserUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FIID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllListResult" type="tns:ArrayOfGbook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MsgId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSingleListResult" type="tns:Gbook" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAdminSoapIn">
    <wsdl:part name="parameters" element="tns:AddAdmin" />
  </wsdl:message>
  <wsdl:message name="AddAdminSoapOut">
    <wsdl:part name="parameters" element="tns:AddAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IsAdminSoapIn">
    <wsdl:part name="parameters" element="tns:IsAdmin" />
  </wsdl:message>
  <wsdl:message name="IsAdminSoapOut">
    <wsdl:part name="parameters" element="tns:IsAdminResponse" />
  </wsdl:message>
  <wsdl:message name="GetMsgByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetMsgByID" />
  </wsdl:message>
  <wsdl:message name="GetMsgByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetMsgByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemotIPSoapIn">
    <wsdl:part name="parameters" element="tns:GetRemotIP" />
  </wsdl:message>
  <wsdl:message name="GetRemotIPSoapOut">
    <wsdl:part name="parameters" element="tns:GetRemotIPResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastMsgSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastMsg" />
  </wsdl:message>
  <wsdl:message name="GetLastMsgSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastMsgResponse" />
  </wsdl:message>
  <wsdl:message name="InsertMsgSoapIn">
    <wsdl:part name="parameters" element="tns:InsertMsg" />
  </wsdl:message>
  <wsdl:message name="InsertMsgSoapOut">
    <wsdl:part name="parameters" element="tns:InsertMsgResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMsgByMsgIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMsgByMsgID" />
  </wsdl:message>
  <wsdl:message name="DeleteMsgByMsgIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMsgByMsgIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMsgByFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMsgByFIID" />
  </wsdl:message>
  <wsdl:message name="DeleteMsgByFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMsgByFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="HasFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:HasFIID" />
  </wsdl:message>
  <wsdl:message name="HasFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:HasFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="HasMsgIDSoapIn">
    <wsdl:part name="parameters" element="tns:HasMsgID" />
  </wsdl:message>
  <wsdl:message name="HasMsgIDSoapOut">
    <wsdl:part name="parameters" element="tns:HasMsgIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetFIIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetFIID" />
  </wsdl:message>
  <wsdl:message name="GetFIIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetFIIDResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetGbookSoapIn">
    <wsdl:part name="parameters" element="tns:GetGbook" />
  </wsdl:message>
  <wsdl:message name="GetGbookSoapOut">
    <wsdl:part name="parameters" element="tns:GetGbookResponse" />
  </wsdl:message>
  <wsdl:message name="GetGbookPageSoapIn">
    <wsdl:part name="parameters" element="tns:GetGbookPage" />
  </wsdl:message>
  <wsdl:message name="GetGbookPageSoapOut">
    <wsdl:part name="parameters" element="tns:GetGbookPageResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllList" />
  </wsdl:message>
  <wsdl:message name="GetAllListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSingleList" />
  </wsdl:message>
  <wsdl:message name="GetSingleListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSingleListResponse" />
  </wsdl:message>
  <wsdl:portType name="GbookWebServiceSoap">
    <wsdl:operation name="AddAdmin">
      <wsdl:input message="tns:AddAdminSoapIn" />
      <wsdl:output message="tns:AddAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <wsdl:input message="tns:IsAdminSoapIn" />
      <wsdl:output message="tns:IsAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMsgByID">
      <wsdl:input message="tns:GetMsgByIDSoapIn" />
      <wsdl:output message="tns:GetMsgByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemotIP">
      <wsdl:input message="tns:GetRemotIPSoapIn" />
      <wsdl:output message="tns:GetRemotIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastMsg">
      <wsdl:input message="tns:GetLastMsgSoapIn" />
      <wsdl:output message="tns:GetLastMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertMsg">
      <wsdl:input message="tns:InsertMsgSoapIn" />
      <wsdl:output message="tns:InsertMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMsgByMsgID">
      <wsdl:input message="tns:DeleteMsgByMsgIDSoapIn" />
      <wsdl:output message="tns:DeleteMsgByMsgIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMsgByFIID">
      <wsdl:input message="tns:DeleteMsgByFIIDSoapIn" />
      <wsdl:output message="tns:DeleteMsgByFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasFIID">
      <wsdl:input message="tns:HasFIIDSoapIn" />
      <wsdl:output message="tns:HasFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasMsgID">
      <wsdl:input message="tns:HasMsgIDSoapIn" />
      <wsdl:output message="tns:HasMsgIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFIID">
      <wsdl:input message="tns:GetFIIDSoapIn" />
      <wsdl:output message="tns:GetFIIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGbook">
      <wsdl:input message="tns:GetGbookSoapIn" />
      <wsdl:output message="tns:GetGbookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGbookPage">
      <wsdl:input message="tns:GetGbookPageSoapIn" />
      <wsdl:output message="tns:GetGbookPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllList">
      <wsdl:input message="tns:GetAllListSoapIn" />
      <wsdl:output message="tns:GetAllListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleList">
      <wsdl:input message="tns:GetSingleListSoapIn" />
      <wsdl:output message="tns:GetSingleListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GbookWebServiceSoap" type="tns:GbookWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAdmin">
      <soap:operation soapAction="http://tempuri.org/AddAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <soap:operation soapAction="http://tempuri.org/IsAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsgByID">
      <soap:operation soapAction="http://tempuri.org/GetMsgByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemotIP">
      <soap:operation soapAction="http://tempuri.org/GetRemotIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMsg">
      <soap:operation soapAction="http://tempuri.org/GetLastMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMsg">
      <soap:operation soapAction="http://tempuri.org/InsertMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMsgByMsgID">
      <soap:operation soapAction="http://tempuri.org/DeleteMsgByMsgID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMsgByFIID">
      <soap:operation soapAction="http://tempuri.org/DeleteMsgByFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasFIID">
      <soap:operation soapAction="http://tempuri.org/HasFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasMsgID">
      <soap:operation soapAction="http://tempuri.org/HasMsgID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFIID">
      <soap:operation soapAction="http://tempuri.org/GetFIID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGbook">
      <soap:operation soapAction="http://tempuri.org/GetGbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGbookPage">
      <soap:operation soapAction="http://tempuri.org/GetGbookPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllList">
      <soap:operation soapAction="http://tempuri.org/GetAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleList">
      <soap:operation soapAction="http://tempuri.org/GetSingleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GbookWebServiceSoap12" type="tns:GbookWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAdmin">
      <soap12:operation soapAction="http://tempuri.org/AddAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <soap12:operation soapAction="http://tempuri.org/IsAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsgByID">
      <soap12:operation soapAction="http://tempuri.org/GetMsgByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemotIP">
      <soap12:operation soapAction="http://tempuri.org/GetRemotIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMsg">
      <soap12:operation soapAction="http://tempuri.org/GetLastMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMsg">
      <soap12:operation soapAction="http://tempuri.org/InsertMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMsgByMsgID">
      <soap12:operation soapAction="http://tempuri.org/DeleteMsgByMsgID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMsgByFIID">
      <soap12:operation soapAction="http://tempuri.org/DeleteMsgByFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasFIID">
      <soap12:operation soapAction="http://tempuri.org/HasFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasMsgID">
      <soap12:operation soapAction="http://tempuri.org/HasMsgID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFIID">
      <soap12:operation soapAction="http://tempuri.org/GetFIID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGbook">
      <soap12:operation soapAction="http://tempuri.org/GetGbook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGbookPage">
      <soap12:operation soapAction="http://tempuri.org/GetGbookPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllList">
      <soap12:operation soapAction="http://tempuri.org/GetAllList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleList">
      <soap12:operation soapAction="http://tempuri.org/GetSingleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GbookWebService">
    <wsdl:port name="GbookWebServiceSoap" binding="tns:GbookWebServiceSoap">
      <soap:address location="http://gbook.ncuhome.cn/Gbookwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="GbookWebServiceSoap12" binding="tns:GbookWebServiceSoap12">
      <soap12:address location="http://gbook.ncuhome.cn/Gbookwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>